{% extends 'myapp/base.html' %}

{% block myhdg %}
    Hello Lakshdeep
{% endblock %}

{% block body_block %}
    <a href="{% url 'myapp:place_order' %}">Place Order</a>
    {% if top_list %}
        <h2>List of Topics</h2>
        <ol>
            {% for top  in top_list %}
                <li> <a href="{% url 'myapp:detail' top.id %}">{{ top.name}}</a> </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}
{% endblock %}